*{
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

#header{
    background-color: blue;
    color: aliceblue;
    padding: 5px 0;
    text-align: center;
}

#mainDiv{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: max-content;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
}


.featureItems{
    margin:15px;

    display: grid;
    grid-template-columns: 150px 250px;
}



input,select{
    padding: 5px;
}


.fromAction{
    text-align: center;
}

.fromAction button{
    margin: 15px;
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#clearButton{
    background-color: lightgoldenrodyellow;
    border-color: darkorange;
}

#clearButton:hover{
    background-color: rgb(248, 248, 1);
    border-color: darkorange;
}

#predictButton{
 background-color: lightgreen;
    border-color: darkgreen;
}

#predictButton:hover{
 background-color: green;
    border-color: darkgreen;
    color: white;
}


#PredictedPrice{
    background-color: rgb(254, 215, 221);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}


#PredictedPrice label{
    color: rgb(76, 76, 249);
    font-size: x-large;
    font-weight: 700;
}


#price{
    margin-top: 15px;
}