/* *{
    background-color: aqua;
} */

body{
    background-color: rgb(207, 207, 207);
}   


label{
    background-color: pink;
}

#outerDiv{
    width: 600px;
    height: 500px;
    border: 5px double green;
}

h1{
    background-color: rgb(226, 190, 9);
    color: red;
    font-size: 100px ;
    font-weight: 800;
    font-variant: normal;
    font-style: italic;
    
}

#forgetPasswordButton{
    background-color: red;
    color: aliceblue;
}