* {
  margin: 0;
  padding: 0;
}

#heading {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  padding: 5px 0;
}

#jokeBox {
  width: 500px;
  height: auto;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
}

p {
  margin: 10px;
  padding: 10px;
}

#setup {
  color: rgb(0, 111, 74);
}

#punchline {
  color: rgb(186, 121, 1);
}

#newJokeButton {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
}

#newJokeButton:hover {
  background-color: whitesmoke;
  color: blue;
}
